<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">

<context-param>
    <param-name>jsonFilePath</param-name>
    <param-value>/WEB-INF/data/customer.json</param-value>
</context-param>

  <servlet>
    <description></description>
    <display-name>ViewCustomerServlet</display-name>
    <servlet-name>ViewCustomerServlet</servlet-name>
    <servlet-class>servlets.ViewCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCustomerServlet</servlet-name>
    <url-pattern>/ViewCustomerServlet</url-pattern>
  </servlet-mapping>
  <display-name>InsurancePro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddCustomerServlet</display-name>
    <servlet-name>AddCustomerServlet</servlet-name>
    <servlet-class>servlets.AddCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerServlet</servlet-name>
    <url-pattern>/AddCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerServlet</display-name>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <servlet-class>servlets.UpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <url-pattern>/UpdateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>servlets.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPolicyServlet</display-name>
    <servlet-name>AddPolicyServlet</servlet-name>
    <servlet-class>servlets.AddPolicyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPolicyServlet</servlet-name>
    <url-pattern>/AddPolicyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllPoliciesServlet</display-name>
    <servlet-name>GetAllPoliciesServlet</servlet-name>
    <servlet-class>servlets.GetAllPoliciesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllPoliciesServlet</servlet-name>
    <url-pattern>/GetAllPoliciesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePolicyServlet</display-name>
    <servlet-name>UpdatePolicyServlet</servlet-name>
    <servlet-class>servlets.UpdatePolicyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePolicyServlet</servlet-name>
    <url-pattern>/UpdatePolicyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePolicyServlet</display-name>
    <servlet-name>DeletePolicyServlet</servlet-name>
    <servlet-class>servlets.DeletePolicyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePolicyServlet</servlet-name>
    <url-pattern>/DeletePolicyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignPolicyServlet</display-name>
    <servlet-name>AssignPolicyServlet</servlet-name>
    <servlet-class>servlets.AssignPolicyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignPolicyServlet</servlet-name>
    <url-pattern>/AssignPolicyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAssignedPolicesServlet</display-name>
    <servlet-name>ViewAssignedPolicesServlet</servlet-name>
    <servlet-class>servlets.ViewAssignedPolicesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAssignedPolicesServlet</servlet-name>
    <url-pattern>/ViewAssignedPolicesServlet</url-pattern>
  </servlet-mapping>
</web-app>